[submodule "Distributed-Ordering-System-Implementation-Using-gRPC"]
	path = Distributed-Ordering-System-Implementation-Using-gRPC
	url = git@github.com:Nesabbasi/Distributed-Ordering-System-Implementation-Using-gRPC.git
[submodule "Concurrent-Ticket-Reservation-System"]
	path = Concurrent-Ticket-Reservation-System
	url = git@github.com:Nesabbasi/Concurrent-Ticket-Reservation-System.git
